$padding: 10px;
$widthLeft: 80px;
$widthRight: 50px;
.left {
  display: inline-block;
  width: $widthLeft;
  padding: 0 $padding;
}

.right {
  display: inline-block;
  text-align: right;
  width: $widthRight;
  padding: 0 $padding;
  border: 0;
  margin: 0;
}

input.right {
  padding: 0 $padding - 1px;
  border-width: 1px;
  border-style: solid;
}


$buttonDivWidth: $widthLeft + $padding + $padding + $widthRight;
$buttonWidth: $buttonDivWidth / 2;
.buttonRow {
  width: $buttonDivWidth;
  padding: 0 $padding;
}

button {
  width: $buttonWidth;
}
