.game {
  width: 960px;
  height: 960px;
}

.column1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

.column2 {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 900px;
}

$houseMarginTop: 3px;
$houseMargin: 3px;
$houseHeight: 12px;
$houseWidth: 12px;
$hotelWidth: 4 * $houseWidth + 3 * $houseMargin;
$unbuiltBorderWidth: 3px;

$boardOwnerWidth: $hotelWidth;
$boardNameWidth: 175px;
$boardPlayersWidth: 100px;
$boardBorder: 1px;
$groundPaddingLeft: 5px;
$groundPaddingRight: 5px;
$groundPaddingTop: 1px;
$groundPaddingBottom: $groundPaddingTop;
$groundHeight: 18px;
.board {
  display: inline-block;
  vertical-align: top;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;

  .unbuilt {
    height: $houseHeight;
    width: $hotelWidth;
    border-width: $unbuiltBorderWidth;
    border-style: solid;
    box-sizing: border-box;
    margin-top: $houseMarginTop;
  }

  .house {
    display: inline-block;
    vertical-align: top;
    height: $houseHeight - 2 * $unbuiltBorderWidth;
    width: $houseWidth;
    margin: 0 $houseMargin 0 0;
  }

  .house:first-child {
    width: $houseWidth - $unbuiltBorderWidth;
  }

  .house:nth-child(4) {
    margin-right: 0;
    width: $houseWidth - $unbuiltBorderWidth;
  }

  .hotel {
    height: $houseHeight;
    width: $hotelWidth;
    margin: $houseMarginTop 0 0 0;
    border-style: none;
    border-width: 0;
  }

  .playerColor {
    width: 12px;
    height: 12px;
    border-width: 0;
    padding: 0;
    margin-right: 5px;
    margin-top: 3px;
    display: inline-block;
  }
}

.ground {
  //height: $groundHeight;
  border-style: none;
  border-spacing: 0;
}

.groundOwner {
  display: inline-block;
  vertical-align: top;
  width: $boardOwnerWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

.groundName {
  display: inline-block;
  vertical-align: top;
  width: $boardNameWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

.groundPlayers {
  display: inline-block;
  vertical-align: top;
  width: $boardPlayersWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

$playerWidth: 75px;
$playerPaddingLeft: 10px;
$playerPaddingRight: 10px;
$playerBorderWidth: 1px;
.playerTable {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-width: $playerBorderWidth;
  font-size: 16px;
}

$playerCellWidth: $playerWidth - $playerPaddingLeft - $playerPaddingRight;
$playerNameCellWidth: $playerCellWidth + 50px;
.playerTableHeader {
  div {
    display: inline-block;
    vertical-align: top;
    width: $playerCellWidth;
    padding-left: $playerPaddingLeft;
    padding-right: $playerPaddingRight;

    border-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-width: $playerBorderWidth;
  }

  div.playerName {
    width: $playerNameCellWidth;
  }
}

.playerTableRow {
  div {
    display: inline-block;
    vertical-align: top;
    width: $playerCellWidth;
    padding-left: $playerPaddingLeft;
    padding-right: $playerPaddingRight;

    border-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-width: $playerBorderWidth;

  }

  .playerName {
    width: $playerNameCellWidth;
    height: 20px;
  }

  .playerAmount {
    text-align: right;
    font-family: monospace;
    height: 20px;
  }

  .playerColor {
    width: 12px;
    height: 12px;
    border-width: 0;
    padding: 0;
    margin-right: 5px;
    margin-top: 3px;
  }

  .gameMaster {
    width: 12px;
    height: 12px;
    border-width: 0;
    padding: 0;
    margin-left: 5px;
    margin-top: 3px;
    background-color: gold;
  }
}

.actionButton {
  width: 100px;
}

.actions {
  height: 32px;
}

$contextWidth: 250px;
.context1 {
  display: inline-block;
  vertical-align: top;
  width: $contextWidth;
}

.context2 {
  display: inline-block;
  vertical-align: top;
  width: $contextWidth;
}

.log {
  position: absolute;
  bottom: 0;
  width: $contextWidth + $contextWidth;
  z-index: -1;
}
