<div class="name" [style.background-color]="space.color">{{space.text}}</div>
<div class="box" *ngIf="space.ownable">
  <div class="row">
    <span class="left owner">Owner</span>
    <span class="right owner">{{space.owner?.name || ''}}</span>
  </div>
  <div class="row">
    <span class="left">Asset value</span>
    <span class="right amount">{{space.assetValue}}</span>
  </div>
</div>
<div class="box" *ngIf="space.type == 'Street'">
  <div class="row" >
    <span class="left">Rent</span>
    <span class="right amount">{{space.rent}}</span>
  </div>
  <div class="row">
    <span class="left">Rent all</span>
    <span class="right amount">{{space.getRentAll()}}</span>
  </div>
  <div class="row">
    <span class="left">1 House</span>
    <span class="right amount">{{space.getHouseRent(1)}}</span>
  </div>
  <div class="row">
    <span class="left">2 Houses</span>
    <span class="right amount">{{space.getHouseRent(2)}}</span>
  </div>
  <div class="row">
    <span class="left">3 Houses</span>
    <span class="right amount">{{space.getHouseRent(3)}}</span>
  </div>
  <div class="row">
    <span class="left">4 Houses</span>
    <span class="right amount">{{space.getHouseRent(4)}}</span>
  </div>
  <div class="row">
    <span class="left">Hotel</span>
    <span class="right amount">{{space.rentHotel}}</span>
  </div>
</div>
<div class="box" *ngIf="space.type == 'Utility'">
  <div class="row">
    <span class="left">Rent</span>
    <span class="right amount">{{space.rent}}x</span>
  </div>
  <div class="row">
    <span class="left">Rent all</span>
    <span class="right amount">{{space.rentAll}}x</span>
  </div>
</div>
<div class="box" *ngIf="space.type == 'Station'">
  <div class="row">
    <span class="left">Rent</span>
    <span class="right amount">{{space.getStationRent(1)}}</span>
  </div>
  <div class="row">
    <span class="left">2 stations</span>
    <span class="right amount">{{space.getStationRent(2)}}</span>
  </div>
  <div class="row">
    <span class="left">3 stations</span>
    <span class="right amount">{{space.getStationRent(3)}}</span>
  </div>
  <div class="row">
    <span class="left">4 stations</span>
    <span class="right amount">{{space.getStationRent(4)}}</span>
  </div>
</div>
<div class="box" *ngIf="space.ownable">
  <div class="row" *ngIf="space.type == 'Street'">
    <span class="left">Price House</span>
    <span class="right amount">{{space.priceHouse}}</span>
  </div>
  <div class="row" *ngIf="space.type == 'Street'">
    <span class="left">Price Hotel</span>
    <span class="right amount">{{space.priceHotel}}</span>
  </div>
  <div class="row">
    <span class="left">Initial price</span>
    <span class="right amount">{{space.initialPrice}}</span>
  </div>
</div>
