<div>
  <span class="left">Price</span>
  <span class="right">{{price}}</span>
</div>
<div>
  <label for="borrowed" class="left">Borrowed</label>
  <app-amount
    id="borrowed"
    [value]="borrowed"
    [min]="borrowMin()"
    [max]="borrowMax()"
    (changed)="updateBorrowed($event)">
  </app-amount>
</div>
<div>
  <label for="cash" class="left">Cash</label>
  <app-amount
    id="cash"
    [value]="cash"
    [min]="cashMin()"
    [max]="cashMax()"
    (changed)="updateCash($event)">
  </app-amount>
</div>
