.space-info-left {
  display: inline-block;
  width: 80px;
  padding: 0 10px;
}

.space-info-right {
  display: inline-block;
  width: 50px;
  padding: 0 10px;
  font-family: monospace;
  font-size: 16px;
  text-align: right;
}
