.space-info-left {
  display: inline-block;
  width: 80px;
  padding: 0 10px;
}
.space-info-left.owner {
  width: 50px;
}
.amount {
  //font-family: monospace;
}

.space-info-right {
  display: inline-block;
  width: 50px;
  padding: 0 10px;
  font-size: 16px;
  text-align: right;
}
.space-info-right.owner {
  width: 80px;
}
