<div><app-player-name [player]="otherPlayer"></app-player-name></div>
<div *ngFor="let offer of otherPlayer.getting">
  <div class="name" [style.background-color]="offer.ownable.color">{{offer.ownable.text}}</div>
  <div>
    <div class="asset">{{offer.ownable.assetValue}}</div>
    <div class="right">{{offer.value}}</div>
  </div>
</div>
<div>&nbsp;</div>
<div><app-player-name [player]="me"></app-player-name></div>
<div *ngFor="let offer of otherPlayer.giving">
  <input type="checkbox" checked="checked" [disabled]="disabled" (change)="removeOffer(offer)">
  <app-space-name [space]="offer.ownable"></app-space-name>
  <div>
    <div class="asset">{{offer.ownable.assetValue}}</div>
    <app-amount
    [value]="offer.value"
    [min]="0"
    [max]="9007199254740991"
    (changed)="changeValue(offer, $event)">
    </app-amount>
  </div>
</div>
<div>&nbsp;</div>
<div>Summary:</div>
<div>
  <div *ngIf="assetDelta() >= 0" class="left">Assets gained</div>
  <div *ngIf="assetDelta() < 0" class="left">Assets lost</div>
  <div *ngIf="moneyDelta() >= 0" class="right">Profit</div>
  <div *ngIf="moneyDelta() < 0" class="right">Price</div>
</div>
<div>
  <div *ngIf="assetDelta() >= 0" class="asset">{{assetDelta()}}</div>
  <div *ngIf="assetDelta() < 0" class="asset">{{-assetDelta()}}</div>
  <div *ngIf="moneyDelta() >= 0" class="right">{{moneyDelta()}}</div>
  <div *ngIf="moneyDelta() < 0" class="right">{{-moneyDelta()}}</div>
</div>
<div>&nbsp;</div>
<div>
  <div class="left">Give cash</div>
  <app-amount
    [value]="giveCash()"
    [min]="giveCashMin()"
    [max]="giveCashMax()"
    (changed)="giveCashChanged($event)">
  </app-amount>
</div>
<div>
  <div class="left">Borrow</div>
  <app-amount
    [value]="borrow()"
    [min]="borrowMin()"
    [max]="borrowMax()"
    (changed)="borrowChanged($event)">
  </app-amount>
</div>
<div>
  <div class="left">Get cash</div>
  <app-amount
    [value]="getCash()"
    [min]="getCashMin()"
    [max]="getCashMax()"
    (changed)="getCashChanged($event)">
  </app-amount>
</div>
<div>
  <div class="left">Pay back</div>
  <app-amount
    [value]="payBack()"
    [min]="payBackMin()"
    [max]="payBackMax()"
    (changed)="payBackChanged($event)">
  </app-amount>
</div>
<div>
  <div class="left">Unaccounted</div>
  <div class="right">{{unaccounted()}}</div>
</div>
<div>&nbsp;</div>
<div>
  <div class="left">Projected cash</div>
  <div class="right">{{projectedCash()}}</div>
</div>
<div>
  <div class="left">Projected assets</div>
  <div class="right">{{projectedAssets()}}</div>
</div>
<div>
  <div class="left">Projected debt</div>
  <div class="right">{{projectedDebt()}}</div>
</div>
<div>
  To offer:
</div>
<div *ngFor="let offerable of offerable">
  <input type="checkbox" [disabled]="disabled" (change)="addOwnable(offerable)">
  <app-space-name [space]="offerable"></app-space-name>
</div>
<div>
  <button (click)="close.emit()">Close</button>
</div>


<!--

Getting
[ naam ]
100         100
[ naam ]
200         200

Giving
[ naam ]
300         200
[ naam ]
100	     300

Summary
Asset       Price
-100         200

Receive Money  xxx
Pay money      xxx
Take Debt      xxx
Pay off debt   xxx
Unaccounted    xxx

[x] Accept

To give
[ naam ]
155
[ naam ]

-->
