.name {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  padding: 0 10px;
}
.left {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  width: 105px;
}
.asset {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 0 70px 0 10px;
  width: 50px;
}
.right {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 0 10px;
  width: 50px;
}
.error {
  //font-weight: bold;
  color: red;
}
