<div><app-player-name [player]="otherPlayer"></app-player-name> offers:</div>
<div *ngFor="let offer of otherParty.offers">
  <div class="name" [style.background-color]="offer.ownable.color">{{offer.ownable.text}}</div>
  <div>
    <div class="asset">{{offer.ownable.assetValue}}</div>
    <div class="right">{{offer.value}}</div>
  </div>
</div>
<div>&nbsp;</div>
<div><app-player-name [player]="me"></app-player-name> offers:</div>
<div *ngFor="let offer of myParty.offers">
  <input type="checkbox" checked="checked" [disabled]="disabled" (change)="removeOffer(offer)">
  <app-space-name [space]="offer.ownable"></app-space-name>
  <div>
    <div class="asset">{{offer.ownable.assetValue}}</div>
    <app-amount
    [value]="offer.value"
    (changed)="changeValue(offer, $event)">
    </app-amount>
  </div>
</div>
<div>&nbsp;</div>
<div>
  Bank:
</div>
<div>
  <div class="left">Borrow</div>
  <app-amount
    [value]="otherPlayer.trade.borrow"
    [max]="gettingPrice()"
    (changed)="borrowChanged($event)">
  </app-amount>
</div>
<div>
  <div class="left">Pay back</div>
  <app-amount
    [value]="otherPlayer.trade.payBack"
    (changed)="payBackChanged($event)">
  </app-amount>
</div>
<div>&nbsp;</div>
<div>
  To offer:
</div>
<div *ngFor="let offerable of offerable">
  <input type="checkbox" [disabled]="disabled" (change)="addOwnable(offerable)">
  <app-space-name [space]="offerable"></app-space-name>
</div>
<div>&nbsp;</div>
<div>Summary:</div>
<div>
  <div *ngIf="assetDelta() >= 0" class="left">Assets gained</div>
  <div *ngIf="assetDelta() < 0" class="left">Assets lost</div>
  <div *ngIf="moneyDelta() >= 0" class="right">Profit</div>
  <div *ngIf="moneyDelta() < 0" class="right">Price</div>
</div>
<div>
  <div *ngIf="assetDelta() >= 0" class="asset">{{assetDelta()}}</div>
  <div *ngIf="assetDelta() < 0" class="asset">{{-assetDelta()}}</div>
  <div *ngIf="moneyDelta() >= 0" class="right">{{moneyDelta()}}</div>
  <div *ngIf="moneyDelta() < 0" class="right">{{-moneyDelta()}}</div>
</div>
<div>&nbsp;</div>
<div [class.error]="invalidMoney()">
  <div class="left">Projected cash</div>
  <div class="right">{{projectedCash()}}</div>
</div>
<div [class.error]="invalidAssets()">
  <div class="left">Projected assets</div>
  <div class="right">{{projectedAssets()}}</div>
</div>
<div [class.error]="invalidDebt()">
  <div class="left">Projected debt</div>
  <div class="right">{{projectedDebt()}}</div>
</div>
<div>&nbsp;</div>
<div>
  <input *ngIf="myParty.accepted"
         type="checkbox"
         checked=""
         [disabled]="acceptDisabled()"
         (change)="revokeAcceptance()">
  <input *ngIf="!myParty.accepted"
         type="checkbox"
         [disabled]="acceptDisabled()"
         (change)="accept()">
  Accept
</div>


<!--TODO disable stuff when needed-->
