.settingValue {
    padding-left: 20px;
    width: 50px;
}

.settingInput {
    width: 50px;
}

#playersTable {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
    border-right-style: none;
    border-bottom-style: none;
}


#playersTable th {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;

    width: 75px;
    padding-left: 10px;
    padding-right: 10px;

    border-left-style: none;
    border-top-style: none;
}

#playersTable td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;

    padding-left: 10px;
    padding-right: 10px;

    border-left-style: none;
    border-top-style: none;
}

.amount {
    text-align: right;
}

.hidden {
    display: none;
}

#playerNameInput {
    width: 75px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

#moneyInput {
    width: 75px;
}