.game {
  width: 960px;
}

.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}

$boardOwnerWidth: 75px;
$boardNameWidth: 175px;
$boardPlayersWidth: 100px;
$boardBorder: 1px;
$groundPaddingLeft: 5px;
$groundPaddingRight: 0;
$groundPaddingTop: 1px;
$groundPaddingBottom: $groundPaddingTop;
$groundHeight: 18px;
.board {
  display: inline-block;
  vertical-align: top;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

.ground {
  //height: $groundHeight;
  border-style: none;
  border-spacing: 0;
}

.groundOwner {
  display: inline-block;
  vertical-align: top;
  width: $boardOwnerWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

.groundName {
  display: inline-block;
  vertical-align: top;
  width: $boardNameWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

.groundPlayers {
  display: inline-block;
  vertical-align: top;
  width: $boardPlayersWidth;
  height: $groundHeight;
  padding: $groundPaddingTop $groundPaddingRight $groundPaddingBottom $groundPaddingLeft;
  border-width: $boardBorder;
  border-style: solid;
  border-spacing: 0;
}

$playerWidth: 75px;
$playerPaddingLeft: 10px;
$playerPaddingRight: 10px;
$playerBorderWidth: 1px;
.playerTable {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-width: $playerBorderWidth;
  font-size: 16px;
}

$playerCellWidth: $playerWidth - $playerPaddingLeft - $playerPaddingRight;
$playerNameCellWidth: $playerCellWidth + 50px;
.playerTableHeader {
  div {
    display: inline-block;
    vertical-align: top;
    width: $playerCellWidth;
    padding-left: $playerPaddingLeft;
    padding-right: $playerPaddingRight;

    border-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-width: $playerBorderWidth;
  }
  div.playerName {
    width: $playerNameCellWidth;
  }
}

.playerTableRow {
  div {
    display: inline-block;
    vertical-align: top;
    width: $playerCellWidth;
    padding-left: $playerPaddingLeft;
    padding-right: $playerPaddingRight;

    border-style: solid;
    border-left-style: none;
    border-top-style: none;
    border-width: $playerBorderWidth;

  }
  div.playerName {
    width: $playerNameCellWidth;
    height: 20px;
  }
}

.playerAmount {
  text-align: right;
  font-family: monospace;
  height: 20px;
}

.actionButton {
  width: 100px;
}
