<div class="game">
  <div>
    Welcome {{user.getName()}} to game <span (click)="copyGameIdToClipboard()">{{gameInfo.id}} (click to copy)</span>
    <button (click)="exitGame()">Exit</button>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="column">
    <div class="board">
      <div class="ground" *ngFor="let ground of game.board">
        <div class="groundOwner">
          <div *ngIf="isGroundUnBuilt(ground)"
               class="unbuilt"
               [style.border-color]="getOwnerColor(ground)"
          ></div>
        </div>
        <div class="groundName"
             [style.background-color]="ground.color"
            (click)="spaceInfo = ground">
          {{ground.text}}
        </div>
        <div class="groundPlayers">
          <div class="playerColor"
               [style.background-color]="player.color"
              *ngFor="let player of getPlayersOn(ground)"
              (click)="demandRent(player.lastDemandId)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div>Total economy: <span id="economy">{{game.economy}}</span></div>
    <div class="playerTable">
      <div class="playerTableHeader">
        <div class="playerName">&nbsp;</div>
        <div>Money</div>
        <div>Assets</div>
        <div>Debt</div>
        <div>Start</div>
      </div>
      <div class="playerTableRow" *ngFor="let player of game.players">
        <div class="playerName">
          <div class="playerColor" [style.background-color]="player.color"></div>
          {{player.name}}
          <div *ngIf="player.id === game.gameMasterId" class="gameMaster"></div>
        </div>
        <div class="playerAmount">{{player.money}}</div>
        <div class="playerAmount">{{player.assets}}</div>
        <div class="playerAmount">{{player.debt}}</div>
        <div class="playerAmount"> {{game.getStartMoney(player)}}</div>
      </div>
    </div>
    <div class="Actions">
      <app-color-selector *ngIf="showJoin()" [disabled]="disableJoin()" [exclude]="getPlayerColors()" (selectedColorChange)="playerColor = $event"></app-color-selector>
      <button class="actionButton" *ngIf="showJoin()" [disabled]="disableJoin()" (click)="join()">Join game</button>
      <button class="actionButton" *ngIf="showStart()" [disabled]="disableStart()" (click)="start()">Start game</button>
      <button class="actionButton" *ngIf="showRoll()" [disabled]="disableRoll()" (click)="roll()">Roll dice</button>
      <button class="actionButton" *ngIf="showEndTurn()" [disabled]="disableEndTurn()" (click)="endTurn()">End turn</button>

      <app-buy-this-space
        *ngIf="game.canBuyThis()"
        [space]="game.getMyOwnable()"
        [maxCash]="game.getMyCash()"
        [disabled]="commandInFlight"
        (buy)="buyThis($event.cash, $event.borrowed)">
      </app-buy-this-space>

      <app-space-info *ngIf="spaceInfo" [space]="spaceInfo"></app-space-info>
      <button *ngIf="spaceInfo" (click)="spaceInfo = null">Close</button>
      <button *ngIf="game.hasMyRentDemand()" (click)="payRent()">
        Pay {{ game.getMyRentDemand().owner}} {{game.getMyRentDemand().rent}} rent
      </button>
    </div>
  </div>
</div>
