<p>
  Welkom {{user.getName()}} in game {{gameInfo.id}}
  <button (click)="exitGame()">Exit</button>
  <button (click)="logout()">Logout</button>
</p>
<div class="column">
  <div class="board" >
    <div class="ground" *ngFor="let ground of game.board">
      <div class="groundName"  [style.background-color]="ground.color">{{ground.text}}</div>
      <div class="groundPlayers">{{game.playersOn(ground)}}</div>
    </div>
  </div>
</div>
<div class="column">
  <div>Total economy: <span id="economy">{{game.economy}}</span></div>
  <div class="playerTable">
    <div class="playerTableHeader">
      <div class="playerName">&nbsp;</div>
      <div>Money</div>
      <div>Assets</div>
      <div>Debt</div>
      <div>Start</div>
    </div>
    <div class="playerTableRow" *ngFor="let player of game.players">
      <div class="playerName">{{player.name}}</div>
      <div class="playerAmount">{{player.money}}</div>
      <div class="playerAmount">0</div>
      <div class="playerAmount">{{player.debt}}</div>
      <div class="playerAmount">0</div>
    </div>
  </div>
  <div class="Actions">
    <button *ngIf="game.canJoin()" (click)="join()">Join game</button>
    <button *ngIf="game.canStartGame()" (click)="start()">Start game</button>
    <button *ngIf="game.canRollDice()" (click)="roll()">Roll dice</button>
    <app-buy-this-space *ngIf="game.canBuyThis()" [price]="10" (buy)="buyThis($event.cash, $event.borrowed)"></app-buy-this-space>
    <!--    <button *ngIf="game.canBuyThis()" (click)="buyThis()">Buy this</button>-->
    <button *ngIf="game.canEndTurn()" (click)="endTurn()">End turn</button>
  </div>
</div>
